.pagina__contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.pagina__contato-descricao {
    align-self: center;
    justify-self: center;
    font-size: 32px;
    font-family: var(--fonte-secundaria);
    padding: 60px 0 40px 0;
}

.container__contatos {
    display: flex;
    gap: 20px;
}

.contatos__info {
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 40px;
    width: 50%;
}

/* .contatos__info:nth-child(2) {
    justify-content: flex-end;
    gap: 40px;
} */

.contatos__info img {
    width: 100px;
}

.contatos__midia-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    font-size: 24px;
}

.midia__lista-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.midia__lista-item img {
    width: 24px;
}

.midia__lista-item a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.link-linkedin {
    display: flex;
    gap: 8px;
}

.link-linkedin:hover {
    color: var(--cor-do-hover);
    font-weight: 600;
}

.link-linkedin:hover svg {
    fill: var(--cor-do-hover);
}

.pagina__contato-agradecimento {
    align-self: center;
    justify-self: center;
    font-size: 32px;
    font-family: var(--fonte-secundaria);
    padding: 20px 0 60px 0;
}

@media screen and (max-width: 768px) {
    .container__contatos {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 320px) {
    .contatos__info {
        flex-direction: column;
        align-items: center;
    }

    .midia__lista-item {
        font-size: 16px;
    }

    .contatos__midia-lista p {
        font-size: 16px;
    }

    .pagina__contato-agradecimento {
        font-size: 28px;
    }
}
