@import url("./card.css");

.pagina__habilidades { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.pagina__habilidades-descricao {
    font-family: var(--fonte-secundaria);
    font-size: 32px;
    padding-bottom: 20px;
}

.habilidades__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.card {
    align-self: center;
    justify-self: center;
}

@media screen and (max-width: 576px) {
    .pagina__habilidades-descricao {
        font-size: 24px;
    }

    .habilidades__cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}