@import url("./css/menu_mobile.css");
@import url("./css/paginas.css");
@import url("./css/reset.css");
@import url("./css/geral.css");


/* ESTILOS DO CONTAINER */

.container {
    height: 100%;
}

.container__menu-mobile {
    display: none;
}

/* ESTILOS DE TEXTO */

.container__info {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container__info-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    margin: auto 60px;
}

.info__texto-saudacao {
    display: flex;
    gap: 12px;
    font-size: 48px;
    font-weight: 600;
}

.info__texto-titulo {
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 5px;
}

.info__texto-titulo span {
    font-family: var(--fonte-especial);
    font-weight: 500;
    color: var(--cor-principal);
    text-shadow: var(--cor-de-fundo) 2px 3px 2px;
}

.info__texto-profissao {
    font-size: 24px;
    font-weight: 700;
    background-color: var(--cor-principal);
    padding: 5px;
    border-radius: 5px;
}

.info__texto-resumo {
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    font-family: var(--fonte-secundaria);
}

/* ESTILOS DA IMAGEM */

.container__info-foto {
    background-color: var(--cor-de-fundo);
    position: relative;
    height: 100%;
}

.container__info-foto img {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}

/* ESTILLOS DO MENU FLUTUANTE */

.container__foto-menu {
    position: absolute;
    top: 35%;
    right: 0;
    padding: 0 20px;
    display: block;
}

.foto__menu-flutuante {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--cor-principal);
    padding: 20px 10px;
    border-radius: 25px;
}

.foto__menu-flutuante-item {
    cursor: pointer;
}

.foto__menu-flutuante-item img {
    width: 24px;
    height: 24px;
}

.foto__menu-flutuante-item:hover img {
    color: var(--cor-do-hover);
}

.item-icon {
    color: white;
}

/* ESTILOS DO LINK */

.info__link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    background-color: var(--cor-principal);
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container__menu-mobile {
        display: block;
    }

    .container__info {
        flex-direction: column;
    }

    .container__info-texto {
        gap: 40px;
    }

    .container__info-foto {
        width: 100%;
        height: 50%;
        background: var(--cor-de-fundo);
    }

    .container__foto-menu {
        display: none;
    }

    .info__foto {
        width: 100%;
        height: 100%;
    }

    .container__info-foto img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 767px) {
    .container__info-texto{
        gap: 30px;
        margin: 60px 20px;
    }

    .info__texto-saudacao {
        font-size: 32px;
    }

    .info__texto-titulo {
        font-size: 48px;
    }

    .info__texto-profissao {
        font-size: 12px;
    }

    .info__texto-resumo {
        font-size: 16px;
    }

    .info__link {
        font-size: 20px;
    }
}